.BottomBar {
  background-color: black;
  display: flex;
  color: white;
  padding: 3em;
  padding-top: 15rem;
  padding-bottom: 0.1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.BottomBar .contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.BottomBar .slogan {
  width: fit-content;
  font-size: 5rem;
}

.BottomBar .contact a {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 1em;
  font-size: 1.5rem;
  padding: 1em;
  padding-right: 2em;
  padding-left: 2em;
  width: fit-content;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.BottomBar .contact a:hover {
  background-color: #bbb76e;
  cursor: pointer;
}

.social {
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  margin-top: 10rem;
  width: 100%;
  font-size: 2em;
}

.social a {
  color: white;
  text-decoration: none;
  opacity: 0.9;
  font-size: 1rem;
  font-weight: bold;
}

.social a:hover {
  cursor: pointer;
  color: #bbb76e;
  opacity: 1;
}

.right {
  font-size: 1.2rem;
  padding: 2em;
}

.logo {
  width: 7em;
  padding-bottom: 1em;
}

@media screen and (max-width: 800px) {
  .BottomBar {
    padding-top: 10rem;
  }
  .BottomBar .slogan {
    font-size: 3.5rem;
  }
  .BottomBar .contact a {
    font-size: 1rem;
  }
  .social {
    margin-top: 5rem;
  }
  .social a {
    font-size: 0.8rem;
  }
  .right {
    font-size: 1rem;
  }
  .logo {
    width: 5em;
  }
}

@media screen and (max-width: 400px) {
  .BottomBar {
    padding-top: 5rem;
  }
  .BottomBar .slogan {
    font-size: 2rem;
  }
  .BottomBar .contact a {
    font-size: 0.5rem;
  }
  .social {
    margin-top: 2rem;
  }
  .social a {
    font-size: 0.6rem;
  }
  .right {
    font-size: 0.8rem;
  }
  .logo {
    width: 3em;
  }
}
