.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 5em;
  background-color: black;
  color: white;
  padding-top: 8em;
}

.contact-content {
  background-color: black;
  border-radius: 2em;
  padding-bottom: 3em;
  width: 80%;
}

.contact-desc {
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.5em;
}

.contact-desc2 {
  font-style: italic;
  padding-bottom: 0.5em;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1em;
  padding: 2em;
}

.form .contact-form {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  width: 100%;
}

.join {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.formMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
  margin-top: 1em;
}

.formMsg input {
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  flex-basis: 5%;
  border-radius: 0.5em;
  width: 80%;
  outline: none;
  border: 1px solid #e7e7e7;
}

.formMsg textarea {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  color: white;
  height: 10em;
  width: 80%;
  background-color: black;
}

.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 50%;
  margin-top: 1em;
}

.contact-btn a {
  color: white;
  text-decoration: none;
}

.social-item {
  display: flex;
  align-items: center;
  flex-basis: calc(50% - 10px);
  font-size: 1.8em;
  padding-top: 1.35em;
  padding-bottom: 1.35em;
}

.social-item-content {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.other {
  padding-top: 2em;
  font-size: 1em;
  text-align: center;
}

.other a {
  color: white;
  opacity: 0.9;
}

.ask-faq {
  font-weight: bold;
}

.ask-faq a {
  color: white;
  opacity: 0.9;
}

.contact-btn {
  background-color: #928f57;
  border: none;
  color: white;
  border-radius: 1em;
  font-size: 1.2rem;
  padding: 1em;
  padding-right: 4em;
  padding-left: 4em;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1.5em;
  width: 80%;
  margin-bottom: 1.5em;
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  .social-item {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 800px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
  .form .contact {
    flex-basis: 100%;
  }
  .join {
    flex-basis: 100%;
  }
  .formMsg {
    flex-basis: 100%;
  }
  .social-list {
    flex-basis: 100%;
    text-align: center;
  }
}
