.Matches {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 0.2em;
}

.matches-selector {
  text-align: center;
}

.matches {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5em;
}

.match {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.151);
  font-size: 1.2rem;
  padding: 1.5em;
  width: 100%;
  border-bottom: solid 1px #928f5788;
  text-align: center;
}

.match div {
  flex-wrap: wrap;
}

.match:hover {
  box-shadow: 0 0 5em 0 rgba(146, 143, 87, 0.5);
}

.match-opponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 20%;
}

.match-exalty {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 20%;
}

.match-teams {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 40%;
}

.logo_opponent {
  width: 3em;
  height: 3em;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 15%;
}

.logo_exalty {
  width: 5em;
  height: 2em;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 15%;
}

.match-link {
  flex-basis: 5%;
}

.match-link > a {
  color: white;
}

.match-link > a:hover {
  color: #928f57;
}

.match-date {
  font-size: 1.3em;
  flex-basis: 5%;
}

.match-status {
  font-size: 1.3em;
  flex-basis: 5%;
}

.match-score {
  flex-basis: 10%;
}

.upcoming-matches {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.past-matches {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.current-matches {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.current-matches .matches {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.current-matches .match {
  display: flex;
  flex-direction: column;
  flex-basis: 47%;
  margin-bottom: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0;
}

.current-matches .match-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 252, 252, 0.068);
  width: 100%;
  font-size: 1rem;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 1em;
  border-bottom: solid 2px #928f5765;
}

.current-matches .match-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.current-matches .match-link {
  flex-basis: 5%;
}

.current-matches .match-opponent {
  flex-basis: 15%;
}

.current-matches .match-exalty {
  flex-basis: 15%;
}

.current-matches .match-title {
  flex-basis: 50%;
  text-align: left;
}

.matches-selector-select {
  background-color: #282c34;
  color: white;
  border: solid 1px #928f57;
  padding: 0.5em;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.match .team-desc {
  display: flex;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;
}

@media screen and (max-width: 1600px) {
  .current-matches .matches {
    justify-content: center;
    width: 100%;
  }
  .current-matches .match {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 800px) {
  .current-matches .matches {
    justify-content: center;
    width: 100%;
  }
  .current-matches .match {
    flex-basis: 100%;
  }
  .match {
    font-size: 1rem;
  }
  .match .team-desc {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}
