.Member {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center;
  width: 100% !important;
  height: 100% !important;
  background-color: black !important;
  color: white !important;
  padding-top: 10em !important;
}

.Member .btn {
  margin-top: 0.5em !important;
}

.subscribe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #928f57;
  padding: 1rem;
  padding-top: 8.5em;
  padding-bottom: 8.5em;
  border-radius: 3em;
  flex-wrap: wrap;
  flex-basis: 48%;
  margin-bottom: 2em;
}

.card-title {
  font-size: 2.1rem;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 10em 0 rgba(146, 143, 87, 0.5);
}

.card a {
  color: white;
}

@media screen and (max-width: 1400px) {
  .card {
    padding-top: 7em;
    padding-bottom: 7em;
  }
  .card-title {
    font-size: 2em;
  }
  .card a {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 800px) {
  .card {
    font-size: 1.1em;
    flex-basis: 100%;
    padding-top: 6.5em;
    padding-bottom: 6.5em;
  }
  .card-title {
    font-size: 1.5em;
  }
  .card a {
    font-size: 0.7em;
  }
}
