.Organigramme {
  justify-content: center;
}

.organigramme-schema {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.organigramme-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

.organigramme-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15em;
  height: 17em;
}

.organigramme-item img {
  height: 10em;
  border-radius: 5em;
  margin: 2em;
}

.organigramme-item-title {
  font-size: 1.5rem;
  text-align: center;
}
