.Sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: white;
  padding-top: 10em;
  padding-bottom: 20em;
}

.sponsor-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
}

.sponsor img {
  width: 18em;
  margin: 2em;
}

.sponsor-desc {
  font-size: 1.5em;
}

.sponsor-desc a {
  color: white;
}

.sponsor-desc a:hover {
  color: #bbb76e;
  cursor: pointer;
}

.sponsor-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #928f57;
  padding: 3em;
  border-radius: 3em;
  flex-wrap: wrap;
  margin: 3em;
  flex: auto;
}

.sponsor:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(146, 143, 87, 0.5);
}

@media screen and (max-width: 800px) {
  .sponsor img {
    width: 15em;
  }
  .sponsor-content {
    padding: 2em;
  }
  .sponsor-desc {
    font-size: 1em;
  }
  .sponsor-desc a {
    font-size: 1em;
  }
  .sponsor-desc a:hover {
    font-size: 1em;
  }
  .sponsor-content {
    margin: 1em;
  }
  .sponsor-list {
    margin-top: 1em;
  }
  .Sponsor {
    padding-top: 5em;
    padding-bottom: 10em;
  }
}
