.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 30em;
  background-color: black;
  color: white;
  padding-top: 10em;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
}

.register-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.register-info input {
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  flex-basis: 45%;
}

.register-mail,
.register-password {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-mail input,
.register-password input {
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
}
