.TopBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: fixed;
  padding: 0 20px;
  height: 7rem;
  background-color: black;
  opacity: 0.8;
  line-height: 2rem;
  width: 100%;
  color: white;
}

.TopBar a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  opacity: 0.9;
  font-weight: bold;
}

.TopBar .dropdown {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  opacity: 0.9;
  font-weight: bold;
}

.TopBar a:hover {
  cursor: pointer;
  color: #bbb76e;
  opacity: 1;
}

.logoExa {
  width: 10rem;
}

.dropdownMenu {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdownMenu a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.dropdownMenu a:hover {
  background-color: #ddd;
}

.dropdown:hover {
  cursor: pointer;
  color: #bbb76e;
  opacity: 1;
}

.dropdownMenu-inverted {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  transform: translateX(-60%);
}

.dropdownMenu-inverted a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.dropdownMenu-inverted a:hover {
  background-color: #ddd;
}

.dropdownMenu-inverted:hover {
  cursor: pointer;
  color: #bbb76e;
  opacity: 1;
}

.menuButton {
  display: none !important;
}

.logoExaMobile {
  display: none;
}

@media screen and (max-width: 1400px) {
  .TopBar {
    height: auto;
    padding: 10px 5px;
  }
  .TopBar a {
    font-size: 1.2rem;
    padding: 5px 0;
  }
  .logoExa {
    width: 8rem;
  }
  .dropdownMenu,
  .dropdownMenu-inverted {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 950px) {
  .TopBar {
    height: auto;
    padding: 10px 5px;
    z-index: 1000;
  }
  .TopBar a {
    font-size: 1rem;
    padding: 5px 0;
  }
  .logoExa {
    width: 6rem;
  }
  .dropdownMenu,
  .dropdownMenu-inverted {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 800px) {
  .TopBar {
    flex-direction: column;
    padding: 5px;
  }
  .TopBar a,
  .TopBar .dropdown {
    font-size: 1rem;
  }
  .logoExa {
    width: 6rem;
  }
  .TopBar a,
  .TopBar .dropdown {
    padding: 10px;
    text-align: center;
  }
  .menuButton {
    display: block !important;
  }
  .logoExaDiv {
    display: none;
  }
  .logoExaMobile {
    display: block;
  }
}
